*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
}
.main{
    min-height: 100vh;
    background: lightgray;
    width:100%;
}
.table{
    display: flex;
    justify-content: space-between;
}
.column{
    flex-basis: 45%;
    margin-left: 20px;

}
.column ul li a{
    text-decoration: none;
}
.column ul li{
    list-style: none;
}
.column img{
    width: 150px;
    margin: 10px 0;
    text-align: left;


}

h1{
    font-size: 29px;
    font-weight: 600;
    text-align: right;
    margin: 10px;
}